    <!-- Page content -->
    <div class="w3-content w3-padding" style="max-width: 1564px">
      <!-- Contact Section -->
      <div class="w3-container w3-padding-32" id="contact">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">
          Stock Search - Fast and easy stock market searching tool
        </h3>
        <p>Enter stock symbol (ticker) below to get started:</p>
        <form action="/?page_y=975" method="POST">
          <input
            class="w3-input w3-border"
            type="text"
            placeholder="Stock Symbol (ticker)"
            required
            name="stock_ticker"
          />
          <button class="w3-button w3-black w3-section" type="submit">
            <i class="fa fa-paper-plane"></i>
            Search
          </button>
        </form>
        {{{body}}}
      </div>

      <!-- End page content -->
    </div>


<div class="jumbotron">
  <h1 class="display-7">&nbsp;&nbsp;&nbsp;&nbsp;{{stock_call.companyName}} ({{stock_call.symbol}})</h1>
  <p class="lead">
    <div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Latest Price: </strong>${{stock_call.latestPrice}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>Today's Change: </strong>${{stock_call.change}}<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Previous Close: </strong>${{stock_call.previousClose}}  &nbsp; &nbsp; &nbsp; <strong>Market Cap: </strong>${{stock_call.marketCap}} <br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>52wk High: </strong>${{stock_call.week52High}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>52wk Low: </strong>${{stock_call.week52Low}}<br /></p>
        
    </div>


  {{! <p class="lead">
    <a class="btn btn-primary btn-lg" href="/stocknews" role="button">Click here
      for the latest stock market news</a>
  </p> }}
</div>

<div class="inner">
  <!-- TradingView Widget BEGIN -->
  <div class="tradingview-widget-container">
    <div id="tradingview_4ff7a"></div>
    <div class="tradingview-widget-copyright"><a
        href="https://www.tradingview.com/symbols/NASDAQ-AAPL/"
        rel="noopener"
        target="_blank"
      ></div>
    <script
      type="text/javascript"
      src="https://s3.tradingview.com/tv.js"
    ></script>
    <script type="text/javascript">
      new TradingView.widget( {"width": 800, "height": 420, "symbol":
      '{{posted_data_return}}', "interval": "D", "timezone": "Etc/UTC", "theme": "light",
      "style": "1", "locale": "en", "toolbar_bg": "#f1f3f6",
      "enable_publishing": false, "allow_symbol_change": true, "container_id":
      "tradingview_4ff7a" } );
    </script>
  </div>
  <!-- TradingView Widget END -->
</div>

{{!-- {{posted_data_return}} --}}

{{! <img
  src="https://www.koppr.in/wp-content/uploads/2020/06/Top-things-to-know-about-Stock-Market-Trading-1080x675.jpg"
  class="img-fluid"
  alt="..."
/> }}

{{!-- <h1>{{stock_call.companyName}} ({{stock_call.symbol}})</h1>
<br /> --}}
{{!-- <strong>Latest Price: </strong>${{stock_call.latestPrice}}<br />
<strong>Open: </strong>${{stock_call.open}}<br />
<strong>Previous Close: </strong>${{stock_call.previousClose}}<br />
<strong>Percent Change: </strong>${{stock_call.change}}<br />
<strong>Market Cap: </strong>${{stock_call.marketCap}}<br />
<strong>YTD Change: </strong>${{stock_call.ytdChange}}<br />
<strong>52wk High: </strong>${{stock_call.week52High}}<br />
<strong>52wk Low: </strong>${{stock_call.week52Low}}<br />
<br /> --}}
{{! print api to screen }}
{{!-- {{#each stock_call}}
  {{@key}}
  :
  {{this}}<br />
{{/each}} --}}