    <!-- Page content -->
    <div class="w3-content w3-padding" style="max-width: 1564px">
      <!-- Contact Section -->
      <div class="w3-container w3-padding-32" id="contact">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">
          Stock Search - Fast and easy stock market searching tool
        </h3>
        <p>Enter stock symbol (ticker) below to get started:</p>
        <form action="/?page_y=975" method="POST">
          <input
            class="w3-input w3-border"
            type="text"
            placeholder="Stock Symbol (ticker)"
            required
            name="stock_ticker"
          />
          <button class="w3-button w3-black w3-section" type="submit">
            <i class="fa fa-paper-plane"></i>
            Search
          </button>
        </form>
          <div class="jumbotron">
  <h1  class="display-7" style="position:relative; font:bold">{{stock_call.companyName}} ({{stock_call.symbol}})</h1>
  <p class="lead">
    <div>
        <strong>Latest Price: </strong>${{stock_call.latestPrice}} <br />
        <strong>Today's Change: </strong>${{stock_call.change}}<br />
        <strong>Previous Close: </strong>${{stock_call.previousClose}} <br />
        <strong>Market Cap: </strong>${{stock_call.marketCap}} <br/>
        <strong>52wk High: </strong>${{stock_call.week52High}} <br />
        <strong>52wk Low: </strong>${{stock_call.week52Low}}<br />
        <br />
        <div class="inner">
  
  <!-- TradingView Widget BEGIN -->
  <div class="tradingview-widget-container" style="position:absolute;">
    <div id="tradingview_4ff7a"></div>
    <div class="tradingview-widget-copyright"><a
        href="https://www.tradingview.com/symbols/NASDAQ-AAPL/"
        rel="noopener"
        target="_blank"
      ></div>
    <script
      type="text/javascript"
      src="https://s3.tradingview.com/tv.js"
    ></script>
    <script type="text/javascript">
      new TradingView.widget( {"width": 700, "height": 420, "symbol":
      '{{posted_data_return}}', "interval": "D", "timezone": "Etc/UTC", "theme": "light",
      "style": "3", "locale": "en", "toolbar_bg": "#f1f3f6",
      "enable_publishing": false, "allow_symbol_change": true, "container_id":
      "tradingview_4ff7a" } );
    </script>
    <br />

  </div>

    </div>
    
</p>
  </div>
</div>
      </div>
    </div>
